.features {
  display: block;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  min-width: auto;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon-div {
  display: flex;
  min-width: 100%;
  height: 120px;

  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  background-color: $button-portfolio-color;
  border-radius: 4px;
}

.features__text,
.features__title {
  font-size: 14px;
}

.features__title {
  color: $title-text-color;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  margin-top: 10px;
  color: $primery-text-color;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
