body {
  background-color: $primery-white-color;
  color: $primery-text-color;
  font-family: Roboto, sans-serif;
}
body.modal-open {
  overflow: hidden;
}

body.menu-open {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}