$primery-text-color: #757575;
$title-text-color:#212121;
$accent-color: #2196F3;
$primery-white-color:#FFFFFF;
$footer-contact-color:rgba(255, 255, 255, 0.6);
$hero-button-color:#188CE8;
$button-portfolio-color:#F5F4FA;
$hero-fon-color:#2F303A;
$card-set-gape: 30px;
$box-shadow-team:0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-benefits:0px 1px 1px rgba(0, 0, 0, 0.12),0px 4px 4px rgba(0, 0, 0, 0.06),1px 4px 6px rgba(0, 0, 0, 0.16);